html,body,h1{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    height: 80px;
    background-color: #2b2b2b;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
} 

header{
    width: 100%;
    height: 60vh;
    background-color: #2b2b2b; 
}

.nav-con{
    width: 550px;
    height: 60px;
    float: right;
    margin-top: 10px;
}

.nav-con, ul{
    list-style: none;
}

.nav-con li{
    float: left;
    height: 30px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 3px;
    border: #2b2b2b;
}

h1{
    font-family: "Russo One";
    font-size: "regular";
}

h2{
    font-family: "Russo One";
    font-size: "regular"; 
}

h6{
    font-family: "Russo One";
    font-size: "regular"; 
}

form{
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
}

.form input{
    width: 100%;
    height: 35px;
    margin-top: 30px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: lightgray;
}

select, button{
    width: 100% !important;
    color: white;
    background-color: #2b2b2b;
    border-radius: 10px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    padding-top: 30px;
}